#header{
    width:100vw;
    height:8vh;
    background-color: black;
    margin:0 auto;
}
#sidebar_left{
	text-align:center;
    width:20vw;
    height:92vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0713/7997/products/wallpaper-moomin-characters-wallpaper-by-sandudd-1_768x.jpg);
    float:left;
}
#content{
    width:78vw;
    height:92vh;
    float:right;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}